.nav-bar {
  background-color: #fff;
}

.display-flex {
  display: flex;
}

.tnw-img-anchore {
  background-color: #000;
  padding: 16px 20px;
}

.tnw-image {
  width: 70px;
  margin-top: 5px;
}

.search-icon-anchor {
  display: block;
  height: 48px;
  padding: 16px;
  width: 48px;
}

.icon {
  background: transparent url(../images/icons-sprite.svg) no-repeat;
  display: block;
  width: 16px;
  height: 16px;
}

.search-icon {
  background-position: -848px -848px;
}

.nav-hamburger span {
  background-color: #f42;
  display: block;
  height: 2px;
  left: 14px;
  margin-top: -1px;
  top: 50%;
}

.main-article {
  width: 100%;
}

.tech-article-div {
  background: url(../images/tech.jpg) no-repeat 0%;
  background-color: #000;
  background-size: cover;
  background-position: 50%;
}

.lazy-article-div {
  background-image: url(../images/lazy.png);
  background-color: #000;
  background-size: cover;
  background-position: 50%;
}

.amazon-article-div {
  background: url(../images/amazon.png) no-repeat 0%;
  background-color: #000;
  background-size: cover;
  background-position: 50%;
}

.article-positioning {
  position: relative;
  height: 150px;
  margin: 10px 5px 0 5px;
  width: 100%;
}

.header-anchor {
  color: #f00;
  font-size: 25px;
}

.header-after::after {
  background-image: url(../images/after.svg);
  background-size: 16px 16px;
  content: '';
  display: inline-block;
  height: 16px;
  margin-left: 2px;
  position: relative;
  top: 0;
  width: 16px;
}

.header-anchor:hover {
  color: #000;
}

.header-wrapper {
  color: #fff;
  bottom: 4px;
  left: 4px;
  padding: 14px 12px;
  position: absolute;
  right: 4px;
}

.header-wrapper-anchor {
  color: #fffaf8;
  font-size: 22px;
}

.latest-new-section {
  margin-left: 20px;
}

.latest-news-element-wrapper {
  flex-direction: column;
}

.latest-news-list-item {
  margin-bottom: 8px;
}

.header-list-item {
  margin: 0 30px 0 0;
}

.latest-news-header {
  margin-bottom: 24px;
}

.google-assistant-anchor {
  background-image: url(../images/latest-news-image-1.webp);
}

.canada-anchor {
  background-image: url(../images/latest-news-image-2.jpg);
}

.remote-onboarding-anchor {
  background-image: url(../images/latest-news-image-4.webp);
}

.whatsapp-model-anchor {
  background-image: url(../images/latest-news-image-3.jpg);
}

.Tesla-anchor {
  background-image: url(../images/latest-news-image-5.webp);
}

.elon-mosk-anchor {
  background-image: url(../images/latest-news-image-6.jpg);
}

.hardest-game-anchor {
  background-image: url(../images/latest-news-image-7.jpg);
}

.gravitational-lenses-anchor {
  background-image: url(../images/latest-news-image-8.jpg);
}

.latest-news-element-style {
  width: 75px;
  height: 75px;
  display: block;
  background-color: #000;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.latest-news-article {
  margin-left: 16px;
}

.article-header-anchor {
  color: #000;
}

.article-header-anchor:hover {
  color: #f00;
  text-decoration: underline rgba(255, 138, 71, 0.445);
}

.article-details {
  font-size: 12px;
  margin: 2px;
}

.article-details li {
  margin: 2px;
  color: #808080;
}

.article-details-name {
  color: #808080;
}

.article-details-name:hover {
  color: #080808;
}

.investment-wrapper-div {
  flex-direction: column;
  width: 100%;
}

.investment-story-first-div {
  min-height: 60px;
  position: relative;
  width: 100%;
  margin: 10px 0 20px 0;
}

.investment-story-second-div {
  background: #fffaf8;
}

.investment-anchor {
  position: relative;
  display: block;
}

.investment-story-image {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  margin: 10.6666666667px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.story-investment-name {
  background: #f42;
  color: #fff;
  padding: 10.6666666667px 16px 10.6666666667px 84px;
  margin: 0 !important;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.story-investmentCard-details {
  padding: 10.6666666667px 16px 10.6666666667px 84px;
  color: #000;
  background: rgba(255, 68, 34, 0.08);
  margin: 0;
  font-weight: 600;
}

.investment-story-third-div-anchor {
  padding: 8px 0 8px 2em;
  position: relative;
  font-size: 14px;
  color: #555;
  margin-right: 1em;
  display: block;
  line-height: 22px;
  font-weight: 500;
}

.investment-story-unordered-list {
  border-top: 1px solid rgba(255, 68, 34, 0.25);
  margin-top: 10px;
  padding-top: 10px;
}

.investment-story-unordered-list-anchor {
  color: #555;
  font-size: 90%;
}

.story-source {
  color: #aaa;
  font-size: 90%;
}

.most-popular-section {
  width: 100%;
}

.most-popular-first-div {
  margin-bottom: 40px;
  flex-direction: column;
}

.most-popular-h2 {
  margin-bottom: 14px;
}

.most-popular-article {
  height: 0;
  padding-top: 75%;
  position: relative;
  width: 100%;
}

.image-div {
  background-image: url(../images/hard-fork-img.jpg);
}

.image-div-2 {
  background-image: url(../images/apps-section-image.png);
}

.image-div-3 {
  background-image: url(../images/gear-img.jpg);
}

.image-div-4 {
  background-image: url(../images/spider-man-img.png);
}

.image-div-5 {
  background-image: url(../images/creative.webp);
}

.image-div-6 {
  background-image: url(../images/podium.webp);
}

.image-div-7 {
  background-image: url(../images/insight.webp);
}

.image-div-8 {
  background-image: url(../images/launch.jpg);
}

.image-style {
  width: 100%;
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.most-popular-header {
  bottom: 0;
  left: 0;
  padding: 14px;
  position: absolute;
  right: 0;
}

.most-popular-h5 {
  color: #fff;
  font-size: 15px;
}

.most-popular-title {
  font-size: 20px;
}

.details {
  color: hsla(0, 0%, 100%, 0.6);
  margin-right: 15px;
}

.latest-li {
  background-color: rgba(255, 68, 34, 0.08);
}

.latest-article {
  justify-content: space-between;
  padding-top: 2px;
}

.latest-section-header {
  color: #f42;
  font-size: 15px;
}

.latest-section-title {
  max-height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.latest-section-anchor {
  color: #f00;
}

.latest-section-anchor:hover {
  text-decoration: underline rgba(255, 138, 71, 0.445);
}

.latest-image-1 {
  background-image: url(../images/latest-image-1.jpg);
}

.latest-image-2 {
  background-image: url(../images/latest-image-2.png);
}

.latest-image-3 {
  background-image: url(../images/latest-image-3.jpg);
}

.latest-image-4 {
  background-image: url(../images/tech.jpg);
}

.latest-image-5 {
  background-image: url(../images/latest-image-5.jpg);
}

.latest-image-6 {
  background-image: url(../images/latest-image-6.webp);
}

.latest-image-7 {
  background-image: url(../images/lazy.png);
}

.latest-image-8 {
  background-image: url(../images/latest-image-8.jpg);
}

.latest-image-style {
  flex: 0 0 96px;
  background-color: #000;
  background-position: 50%;
  background-size: cover;
  height: 96px;
  width: 96px;
}

.section-headline {
  border-bottom: 1px solid #eee;
}

.section-headline-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

.section-headline-anchor {
  color: #555;
  display: block;
  padding: 6px 0 6px 14px;
  position: relative;
}

.section-headline-anchor:hover {
  color: #000;
}

.section-headline-anchor::before {
  background-color: #f42;
  border-radius: 50%;
  content: '';
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 4px;
}
